/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 
 html {
}
 
 
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,400italic,900italic);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before, &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


@mixin clearfix() {
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
}



body {
    font-family: 'Exo 2', 'Noto-Sans', 'Apple SD Gothic Neo', NanumGothic, 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    background-color:#f5f5f5;
    height: 100%;
}

a {
    text-decoration: none;
    color: #363636;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    vertical-align: middle;
}

input, textarea {
    outline: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 99999; /* header 고정  나중에 풀어주기 */
    top: 0px;
    left: 0px;
    background: white;
    box-shadow: 2px 2px 2px #dddddd;
}

.footer {
    position: fixed;
    left:0px;
    bottom:0px;
    display: inline-block;
    width: 100%;
    height: 35px;
    background: #22313f;
    border-top: 2px solid #479fff;
    
    .footer__linkful{
        float:left;
        color:white;
        margin-left:12px;
        margin-top: 5px;
        display:inline-block;
        font-size:18px;
        
    }
    
    .footer__since{
        float:left;
        color:white;
        margin-top: 8px;
        margin-left:8px;
        display: inline-block;
        font-size: 14px;
    }
        
    .footer__likebutton{
        float:right;
        margin-right:11px;
        display:inline-block;
    }
    
    .footer__facebook{
        float:right;
        color:white;
        margin-right:28px;
        margin-top: 10px;
        display:inline-block;
        font-size:12px;
    }
    
    .footer__gmail{
        float:right;
        color:white;
        margin-right:14px;
        margin-top: 10px;
        display:inline-block;
        font-size:12px;
    }
}

/* 기존 down join */
.pagedown{
    display: block;
    position: fixed;
    top: 70px;
    width:100%;  
    margin: 0 auto;
}

.down{
    display: block;
    position: fixed;
    top: 175px;
    width:100%;  
}


.center {
    width:100%;  
    margin: 0 auto;
    text-align:left;
    padding:0px 0px 0px 10px;
}