// button.scss
// button styles

.button {
    &:before,
    &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
    &.button--submit {
      width: 100%;
      padding: 5px 0;
      color: white;
      background: #479fff;
      border: none;
      font-weight: bold;
      text-align: center;
    }
}

#button_div{
    float:right;
    padding:0px;
    margin: 0px 10px 0px 0px;
}

#imgbutton_div{
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.btn {
    &.btn--save {
        background:#479fff;
        color:white;
        display: inline-block;
        padding: 4px 12px;
        text-align: center;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        
        &:hover {
          background: #eeeeee;
          color: #363636;
        }
    }
    &.btn--modify {
        display: inline-block;
        margin:0px;
        padding:0px;
    }
    &.btn--icon {
        width: 20px;
        height: 20px;
        
        cursor: pointer;
        
        padding: 0px;
        margin: 0px 0px 0px 0px;
    }
}

.mainpage_url_button{
    position:relative;
    display: inline-block;
}
.mainpage_url_button_css{
    color:white;
    background-color: #bbbbbb;
    font-size:11px; 
    border:0px; 
    outline:0px;
    margin: 14px 0px 16px 0px;
    padding:2px 3px 2px 3px;
    text-align: center;
    vertical-align: middle;
}

.mainpage-modify-icon{
    width: 20px;
        height: 20px;
        
        cursor: pointer;
        
        padding: 0px;
        margin: 0px 5px 0px -215px;
}
.mainpage-delete-icon{
    width: 20px;
        height: 20px;
        
        cursor: pointer;
        
        padding: 0px;
        margin: 0px 5px 0px 0px;
}


.data_url_button{
    position:relative;
    display: inline-block;
}


.data_url_button_css {
    color:white;
    background-color: #bbbbbb;
    font-size:11px; 
    border:0px; 
    outline:0px;

    margin: 0px 0px 5px 10px;
    padding:2px 3px 2px 3px;
    text-align: center;
    vertical-align: middle;
}


.login_sumit_button{
    position:relative;
    display:block;
}

.login_sumit_button_css{
width: 325px;
height: 50px;
margin: 10px 0px 0px 0px;
/* border:3px solid white; */
color: white;
background-color: #22313f;
border: none;
box-shadow: 1px 1px 2px #B1B1B1;
font-size: 20pt;

&.login_sumit_button_css:hover{
background-color: white;
color: #22313f;
/* border:3px solid #19aac4;; */
}
}


/* 전체 해시태그보기 버튼 */
.url__hashtag__tagbtt{
    /*font-size: 12px;
    color: white;
    background: #22313f;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    /*white-space: nowrap;*/
    /*display: inline-block;
    opacity: 0.99;
    */
    
    font-size: 12px;
    color: #dedede;
    background: #3b5875;
    border-right: 1px solid #34495e;
    border-bottom: 1px solid #34495e;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
   
    &.url__hashtag__tagbtt:hover{
    color: #22313f;
    background: white;
    text-decoration: none;
    border: 1px solid #22313f;
    }
}
