/* 1차 table 정렬 width */
.data_content {
    /*position: fixed; ->스크롤 먹게하려고 일단 취소선 박아놓음 소현->*/
    top: 30px;
    overflow:auto;
    padding: 25px 0px 30px 6px; /* Header height &footer height */
    display: table;
    margin: 0 auto 0 auto; /* Center content */
    width: 100%; /* Sizing - any length : 800px */
    float: left;
    left: -1px;
}

.bookmarkContent {
    /*position: fixed; ->스크롤 먹게하려고 일단 취소선 박아놓음 소현->*/
    top: 30px;
    overflow:auto;
    padding: 55px 0px 30px 6px; /* Header height &footer height */
    display: table;
    margin: 0 auto 0 auto; /* Center content */
    width: 100%; /* Sizing - any length : 800px */
    float: -1px;
}


/* 2차 contents : 자료/북마크 */
.data {
    position: relative;
    display: table;
    width: 78%;
    padding: 25px;
    margin: 0px; /* 위 오른쪽 아래 왼쪽 */
}



/* 항목 -item & 수정 들어갈때 먹히는 것!! */
.url {
    box-shadow: 2px 2px 2px #dddddd;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    background-color: white;
    
    .url__data-url{
        font-weight:bold;
        font-size: 15px;
        color:#363636;
        display: inline-block;
    }
    
    .url__editable {
      &.is-modifying {
        border: 1px solid #eeeeee;
        padding: 3px;
      }
    }
    .url__hashtag {
        padding: 1px 0px 1px 0px;
        margin: 2px 0px 2px 27px;
        
        .url__hashtag__each{
        color: white;
        }

    }
    
    .url__hashtag2{
        margin: 2px 0px 2px 55px;
        padding: 4px 0px 4px 0px;
        color: white;
    }
    
    
    .url__data-title {
        position: relative;
        display: inline-block;
        padding-left:6px;
        font-size: 15px;
        font-weight: bold;
        color: #363636;
    }
    .url__data-link {
        margin-left: 57px;
        margin-top: 10px;
    }
    .url__data-memo {
        position: relative;
        display: block;
        
        padding: 0px;
        margin: 2px 0px 15px 57px;
        color: #434343;
    }
    .url__data-hashtag {
        position: relative;
        width: 100%;
        color: white;
        background: #22313f;
        padding: 0px;
        
    }
    
    .url__data-hashtag_css{
        color: white;
        padding: 1px 0px 1px 27px;
    }
    
    .url__actions {
        display: none;
        padding: 8px 20px;
        text-align: center;
    }
    
}


.category_img{
    position:relative; 
    left:-12px;
    top:16px;
    width:8%;
    
    display: inline-block;
    
    float:left;
}

.category_img2{
    position:relative; 
    left:-12px;
    top:16px;
    width:5.5%;
    
    display: inline-block;
    
    float:left;
}

