.logtitle{
    color: #22313f;
}

.logfont-gray{
    /*font-weight: bold;*/
    font-size:15px;
    color:#363636;
}

.logfont-blue{
    font-weight: bold;
    font-size:15px;
    color: #22313f;
}

.font-pink {
    font-size: 1.000em;
    color:#479fff;
    
}

.font-gray{
    /*font-weight: bold;*/
    font-size: 1.000em;
    color:#363636;
}