#linkfultitle{
    font-size: 900%;
    color:white;
    margin: 80px 0px 0px 0px;
    padding:0px;
    text-shadow: 1px 1px 5px #616161;
}

h4{
    margin: 20px 0px 0px 0px;
    padding:0px;
    color: #546E7A;
    line-height:160%;
}

h3{
    margin: 10px 0px 0px 0px;
    padding:0px;
    color: #039BE5;
    font-weight:bold;
}

.search {
    width: 10em;  height: 4em;
}