<div class="insight-body">
     <!--인사이트 출력창 -->
        <div class="insight-body__main">
            <div class="insight-box">
                <div class="insight-img"><img src="/img/insight_button.png"></div>
                <div class="insight-Topbox">
                    <div class="insight-Topbox__Btt" style="margin-top:-40px">
                        <span class="insight-Topbox__Btt-font">전체 해시태그 보기</span>&nbsp;&nbsp;
                        <span style="color:#363636; font-size: 12px;"> 한글 자음과 영어 알파벳 순으로 해시태그를 분류합니다.
                        </span>  
                    </div>
                </div>
                 <!--각각 순서에 맞는 값을 연결해줘야해! 사이드바처럼...★ -->
            <nav>    
                <div class="insight-Bttbox" style="margin-top:-20px">
                    <ul>
                        <li><a href="/nambi/kr_01" class="insight-Bttbox__Btt insight-Bttbox__Btt01">ㄱ</a></li>
                        <li><a href="/nambi/kr_02" class="insight-Bttbox__Btt insight-Bttbox__Btt02">ㄴ</a></li>
                        <li><a href="/nambi/kr_03" class="insight-Bttbox__Btt insight-Bttbox__Btt03">ㄷ</a></li>
                        <li><a href="/nambi/kr_04" class="insight-Bttbox__Btt insight-Bttbox__Btt04">ㄹ</a></li>
                        <li><a href="/nambi/kr_05" class="insight-Bttbox__Btt insight-Bttbox__Btt05">ㅁ</a></li>
                        <li><a href="/nambi/kr_06" class="insight-Bttbox__Btt insight-Bttbox__Btt06">ㅂ</a></li>
                        <li><a href="/nambi/kr_07" class="insight-Bttbox__Btt insight-Bttbox__Btt07">ㅅ</a></li>
                        <li><a href="/nambi/kr_08" class="insight-Bttbox__Btt insight-Bttbox__Btt08">ㅇ</a></li>
                        <li><a href="/nambi/kr_09" class="insight-Bttbox__Btt insight-Bttbox__Btt09">ㅈ</a></li>
                        <li><a href="/nambi/kr_10" class="insight-Bttbox__Btt insight-Bttbox__Btt10">ㅊ</a></li>
                        <li><a href="/nambi/kr_11" class="insight-Bttbox__Btt insight-Bttbox__Btt11">ㅋ</a></li>
                        <li><a href="/nambi/kr_12" class="insight-Bttbox__Btt insight-Bttbox__Btt12">ㅌ</a></li>
                        <li><a href="/nambi/kr_13" class="insight-Bttbox__Btt insight-Bttbox__Btt13">ㅍ</a></li>
                        <li><a href="/nambi/kr_14" class="insight-Bttbox__Btt insight-Bttbox__Btt14">ㅎ</a></li>
                    </ul><br>
                    <ul>
                        <li><a href="/nambi/eng_a" class="insight-Bttbox__Btt insight-Bttbox__Btt15">A</a></li>
                        <li><a href="/nambi/eng_b" class="insight-Bttbox__Btt insight-Bttbox__Btt16">B</a></li>
                        <li><a href="/nambi/eng_c" class="insight-Bttbox__Btt insight-Bttbox__Btt17">C</a></li>
                        <li><a href="/nambi/eng_d" class="insight-Bttbox__Btt insight-Bttbox__Btt18">D</a></li>
                        <li><a href="/nambi/eng_e" class="insight-Bttbox__Btt insight-Bttbox__Btt19">E</a></li>
                        <li><a href="/nambi/eng_f" class="insight-Bttbox__Btt insight-Bttbox__Btt20">F</a></li>
                        <li><a href="/nambi/eng_g" class="insight-Bttbox__Btt insight-Bttbox__Btt21">G</a></li>
                        <li><a href="/nambi/eng_h" class="insight-Bttbox__Btt insight-Bttbox__Btt22">H</a></li>
                        <li><a href="/nambi/eng_i" class="insight-Bttbox__Btt insight-Bttbox__Btt23">I</a></li>
                        <li><a href="/nambi/eng_j" class="insight-Bttbox__Btt insight-Bttbox__Btt24">J</a></li>
                        <li><a href="/nambi/eng_k" class="insight-Bttbox__Btt insight-Bttbox__Btt25">K</a></li>
                        <li><a href="/nambi/eng_l" class="insight-Bttbox__Btt insight-Bttbox__Btt26">L</a></li>
                        <li><a href="/nambi/eng_m" class="insight-Bttbox__Btt insight-Bttbox__Btt27">M</a></li>
                        <li><a href="/nambi/eng_n" class="insight-Bttbox__Btt insight-Bttbox__Btt28">N</a></li>
                        <li><a href="/nambi/eng_o" class="insight-Bttbox__Btt insight-Bttbox__Btt29">O</a></li>
                        <li><a href="/nambi/eng_p" class="insight-Bttbox__Btt insight-Bttbox__Btt30">P</a></li>
                        <li><a href="/nambi/eng_q" class="insight-Bttbox__Btt insight-Bttbox__Btt31">Q</a></li>
                        <li><a href="/nambi/eng_r" class="insight-Bttbox__Btt insight-Bttbox__Btt32">R</a></li>
                        <li><a href="/nambi/eng_s" class="insight-Bttbox__Btt insight-Bttbox__Btt33">S</a></li>
                        <li><a href="/nambi/eng_t" class="insight-Bttbox__Btt insight-Bttbox__Btt34">T</a></li>
                        <li><a href="/nambi/eng_u" class="insight-Bttbox__Btt insight-Bttbox__Btt35">U</a></li>
                        <li><a href="/nambi/eng_v" class="insight-Bttbox__Btt insight-Bttbox__Btt36">V</a></li>
                        <li><a href="/nambi/eng_w" class="insight-Bttbox__Btt insight-Bttbox__Btt37">W</a></li>
                        <li><a href="/nambi/eng_x" class="insight-Bttbox__Btt insight-Bttbox__Btt38">X</a></li>
                        <li><a href="/nambi/eng_y" class="insight-Bttbox__Btt insight-Bttbox__Btt39">Y</a></li>
                        <li><a href="/nambi/eng_z" class="insight-Bttbox__Btt insight-Bttbox__Btt40">Z</a></li>
                        <li><a href="/nambi/etc" class="insight-Bttbox__Btt insight-Bttbox__Btt41">ETC</a></li>
                    </ul>
                </div>
            </nav>    
            </div>
        </div> 
    </div>