<div class="footer">
    <div class="footer__linkful">Linkful</div>
    <div class="footer__since">Since 2015</div>
    <div class="footer__likebutton"></div>
    <div class="footer__gmail">linkful.sm@gmail.com</div>
    <div class="footer__facebook">facebook.com/linkful</div>
</div>