<div class="header">
    <div class="navBox">
        <div class="navBox__info navBox--padded">
            <!-- LINKFUL 로고 -->
            <div class="navBox__info__logo">
                <a href="/nambi/mainpage"><img src="/img/logo.png"></a>
            </div>
            <!-- **수정 노노** 무조건 세션완료 확인 후인 조건문 안에 있어야합니다 당신의 url개수는 몇개입니까 할때 이름/개수 밖기 -->

            <div class="navBox__info__url-list">
                <span class="font-pink"><%= @userName %></span> 님이 저장한 URL의 갯수는 총  
                <span class="font-pink"><%= @userUrl  %></span>개 입니다.
            </div>
        </div>
        <div class="navBox__auth">
            <div class="navBox__auth__buttons">
                <!-- 세션여부 묻는 조건문 시작  -->
                <% if session["userId"].nil? %>
                    <a href ="/nambi/login" class="c-link">로그인</a>
                <% else %>
                <!-- session 구현시 -->
                <!-- 로그아웃 옆에 email밖기 -->
                <span class="font-pink c-username"><%= @userId %></span>
                <a href ="/nambi/logout" class="c-link">로그아웃</a>
                <% end %>
            </div>
        </div>
        
        <div class="dic-icon">
            <a href="/nambi/insight">
            <img src="/img/insight_button.png">
            </a>
        </div>
        
        
        
        <div class="navBox__search navBox--padded">
            <form action="/nambi/tagresult" method="POST" class="c-form">
                <input type="text" class="c-form-search" name ="tagSearch" placeholder="해시태그 검색" required>
                <button type="submit" class="c-form-submit"><img src="/img/search_button.png"></button>
            </form>
        </div>
        
        <div class="navBox__insight navBox--padded">
            <!-- 탭 버튼 -->
            <nav>
                <div class="navBox__insight__image-list">
                    <ul>
                        <li><a href ="/nambi/mainpage" class="c-anchor c-anchor1">모두 보기</a></li> 
                        <li><a href ="/nambi/data" class="c-anchor c-anchor2">자료</a></li> 
                        <li><a href ="/nambi/bookmark" class="c-anchor c-anchor3">북마크</a></li> 
                        <li><a href ="/nambi/image" class="c-anchor c-anchor4">이미지</a></li>
                    </ul>
                </div>
            </nav>
        </div>   
        
        
        
    </div>
    
        
</div>