<div class="header">
    <div class="navBox">
        <div class="navBox__info navBox--padded">
            <!-- LINKFUL 로고 -->
            <div class="navBox__info__logo">
                <a href="/nambi/index"><img src="/img/logo.png"></a>
            </div>
        </div>
</div>