<body position="relative" overflow="auto" >
    
<style type="text/css">
    html, body { height:100%; width:100%; overflow: hidden;  
    style=  /* Safari 4-5, Chrome 1-9 */
              background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d1e5f0));
              /* Safari 5.1, Chrome 10+ */
              background: -webkit-linear-gradient(top, #ffffff, #d1e5f0);
              /* Firefox 3.6+ */
              background: -moz-linear-gradient(top, #ffffff,#d1e5f0);
              /* IE 10 */
              background: -ms-linear-gradient(top,#ffffff, #d1e5f0);
              /* Opera 11.10+ */
              background: -o-linear-gradient(top, #ffffff, #d1e5f0);}
</style>
    
<!-- 부트스트랩 --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
<img class="index_logo" src="/img/logo.png">


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="carousel">
    <div class="item active">
          <!-- left box -->
            <div class="col-md-8 col-sm-12 col-xs-12 index_left_box" id="index_left_box">
                <div class="index_left_notebook">
                    <img class="index_image_notebook" src="/img/index_notebook.png">
               </div>
            </div>  
           <!-- left box end -->
        
        
            <!-- middle box -->
            <div class="col-md-2 col-sm-12 col-xs-12 index_middle_box" id="index_middle_box">
                <div class="index_left_login">
                    
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <img class="index_image_howtouse" id="index_image_howtouse_id_name" src="/img/index_howto_button.png"></a>
                    
                    <div class="index_left_slogan">
                        <img class="index_slogan" src="/img/slogan.png">
                    </div>
                </div>    
                <!-- 로그인창 --> 
                <div class="index-loginbox">
                    <form  action="/nambi/login_process" method="POST">
                        <input type="text" class="userId" name="userId" placeholder="아이디를 입력하세요." class="blank" required><br>
                        <input type="password" class="userPw" name="userPw" placeholder="비밀번호를 입력하세요." class="blank" required><br>
                        <input type="submit" value="로그인" class="rogin_button">
            
            
                        <br>
                        <div class="index_left_login_find_password">
                            <label class="index-checkbox" id="checkbox">
                               	<input type="checkbox"> 아이디 저장
                            </label>    
                                <p class="dontyouhaveid">링크풀 계정이 없으세요?</p> <a href="/nambi/join" class="index-join"><span class="index_button_font">회원가입</span></a>
                                <a href="/nambi/find_pw" class="index-findPW"><span class="index_button_font">비밀번호 찾기</span></a>
                        </div>        
                    </form> 
                </div>
            </div>
            <!-- middle box end -->
    </div>
    
    <div class="item">
            
        
            <!-- middle box -->
            <div class="col-md-2 col-sm-12 col-xs-12 index_middle_box" id="index_middle_box">
                <div class="index_left_login">
                    <img class="index_image_howtouse2" src="/img/index_howto_button.png">
                    <div class="index_left_slogan">
                        <img class="index_slogan2" src="/img/slogan.png">
                    </div>
                </div>    
                <!-- 로그인창 --> 
                <div class="index-loginbox">
                    <form  action="/nambi/login_process" method="POST">
                        <input type="text" class="userId" name="userId" placeholder="아이디를 입력하세요." class="blank" required><br>
                        <input type="password" class="userPw" name="userPw" placeholder="비밀번호를 입력하세요." class="blank" required><br>
                        <input type="submit" value="로그인" class="rogin_button">
            
            
                        <br>
                        <div class="index_left_login_find_password">
                            <label class="index-checkbox" id="checkbox">
                               	<input type="checkbox"> 아이디 저장
                            </label>    
                                <p class="dontyouhaveid">링크풀 계정이 없으세요?</p> <a href="/nambi/join" class="index-join"><span class="index_button_font">회원가입</span></a>
                                <a href="/nambi/find_pw" class="index-findPW"><span class="index_button_font">비밀번호 찾기</span></a>
                        </div>        
                    </form> 
                </div>
            </div>
            <!-- middle box end -->
        
        
          <!-- right box -->
            <div class="col-md-7 col-sm-12 col-xs-12 index_right_box" id="index_right_box">
                
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <img class="index_right_back_button" id="index_right_back_button" src="/img/index_backtoindex_button.png"></a>
                    
                    <div class="index_right_slogan">직관적이고 깔끔한 링크풀만의 URL 저장 방법</div>
                    <img class="howtoimage_01" src="/img/index_slide_howtouse_image_01.png">
                    <img class="howtoimage_02" src="/img/index_slide_howtouse_image_02.png">
            </div>
            <!-- right box end -->
    </div>
    
  </div>

 
</div>





<!-- 로그인 팝업창 -->  
<script>
    <% unless flash[:alert].nil? %>
    $(document).ready(function(){
        alert("<%=flash[:alert]%>");
    });
    <% end %>
    
    $('.carousel').carousel({
    interval: false
    });
   
</script>
<!-- END -->  
<%= render :partial => "nambi/partials/footer" %>



</body>
