<!DOCTYPE html>
<html>
<head>
  <title>LINKFUL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 코드 -->
  
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  
 
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="/javascript/clipboard.js"></script>
  <link href="/select2/select2.css" rel="stylesheet" />
  <script src="/select2/select2.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var options = {
      tags: ["Enter로 구분해주세요 :)"] // specify tags
    };
    $('#select').select2(options);
  });

</script>
</head>
<body>
  
<%= yield %>




</body>
</html>